.env.development
vendor/
.idea/
public/public/img/
/public/public/inventory/
public/public/document/
public/public/master/
public/public/pelanggan/
public/public/produk/
public/public/rekam_medis
public/public/supplier/
public/public/transaksi/

!public/public/img/stok.xlsx
!public/public/master/barang/import_barang.xlsx
!public/public/master/barang/import_kategori_barang.xlsx
!public/public/master/jasa/import_jasa.xlsx
!public/public/master/jasa/import_kategori_jasa.xlsx
!public/public/master/obat/import_obat.xlsx
!public/public/member/member/import_member.xlsx
!public/public/pelanggan/pelanggan/import_pelanggan.xlsx
!public/public/rekam_medis/pasien/import_pasien.xlsx
!public/public/supplier/kategori_supplier/import_kategori_supplier.xlsx
!public/public/supplier/supplier/import_supplier.xlsx
